<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahmed Shobky</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="max-w-[1800px] max-h-[800px] m-auto">
        <div
            class="md:fixed top-0 left-0 h-full w-[100%] md:w-[30%] pl-[7%]  py-[5vh] md:py-[3%] flex flex-col justify-center md:gap-0 gap-[5vh] md:justify-between ">
            <div class="text-md md:text-[calc(.8vw+.8vh)] ">
                <h1 class="text-7xl md:text-[calc(2.5vw+2.5vh)] font-semibold">
                    Ahmed Shobky
                </h1>
                <h2 class="mt-[3vh]">
                    <span class="font-semibold">Software Developer,</span> loves to
                    create things.
                </h2>
                <p class="">
                    Click on mario for more information!
                </p>
            </div>
            <div class="w-[100%] md:w-full ">
                <div class="w-[100%] min-w-[90%] aspect-square contact-container relative">
                    <div class=" absolute bottom-[5%] flex flex-col items-center gap-[3.6vh] w-full ">
                        <img id="cube" class="w-1/5 ml-[15%] ease-in-out duration-0" src="/static/cube.webp"
                            alt="Mario" width="200" height="200" />
                        <button class="w-full flex justify-center select-none ">
                            <img id="mario" class="w-1/3 aspect-square mb-[5%] relative" src="/static/mario1.png"
                                alt="Mario" width="200" height="200" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class=" md:float-right flex flex-wrap mr-[5%] w-full md:w-[54%] 2xl:absolute 2xl:right-0 bg-black relative overflow-hidden    ">
            <div class="square-container relative square ease-in-out duration-75  w-1/2 aspect-square">
                <a href="https://touchfingers.vercel.app" target="blank" class=" mix-blend-difference">

                    <img src="/static/touchfingers.png"
                        class="absolute object-cover w-full h-full square-img opacity-75 hover:opacity-0 duration-75" />
                    <h1
                        class="text-white hover:bg-black flex flex-col justify-center items-center h-full text-[calc(1.5vw+1.5vh)] font-medium z-20 relative">
                        Touchfingers
                        <p
                            class="text-white text-[12px] md:text-[16px] text-center  font-light -mb-10 opacity-0  ease-in-out duration-75">
                            Typing speed test, Click to see demo on pc
                        </p>
                    </h1>
                </a>
            </div>
            <div class=" square-container relative ease-in-out duration-75 w-1/2 aspect-square">
                <a href="https://honor-two.vercel.app" target="blank" class=" mix-blend-difference">
                    <img src="/static/honor.png"
                        class="absolute object-cover w-full h-full square-img opacity-75 hover:opacity-0 duration-75" />
                    <h1
                        class="text-white hover:bg-black flex flex-col justify-center items-center h-full text-[calc(1.5vw+1.5vh)] font-medium z-20 relative">
                        Honor
                        <p
                            class="text-white text-[12px] md:text-[16px] text-center  font-light -mb-10 opacity-0  ease-in-out duration-75">
                            Corporate website, with interactive caroucel
                        </p>
                    </h1>
                </a>
            </div>
            <div class=" square-container relative ease-in-out duration-75  w-1/2 aspect-square">
                <a href="https://solymaneya.com" target="blank" class=" mix-blend-difference">

                    <img src="/static/solymaneya.png"
                        class="absolute object-cover w-full h-full square-img opacity-75 hover:opacity-0 duration-75" />
                    <h1
                        class="text-white hover:bg-black flex flex-col justify-center items-center h-full text-[calc(1.5vw+1.5vh)] font-medium z-20 relative">
                        Solimania
                        <p
                            class="text-white text-[12px] md:text-[16px] text-center  font-light -mb-10 opacity-0  ease-in-out duration-75">
                            Company catalog & i18n translation arabic & english.
                        </p>
                    </h1>
                </a>
            </div>
            <div class=" square-container relative ease-in-out duration-75 w-1/2 aspect-square">
                <a href="http://spotin.onrender.com/admin/dashboard" target="blank" class=" mix-blend-difference">

                    <img src="/static/spotin.png"
                        class="absolute object-cover w-full h-full square-img opacity-75 hover:opacity-0 duration-75" />
                    <h1
                        class="text-white hover:bg-black flex flex-col justify-center items-center h-full text-[calc(1.5vw+1.5vh)] font-medium z-20 relative">
                        Spotin
                        <p
                            class="text-white text-[12px] md:text-[16px] text-center  font-light -mb-10 opacity-0  ease-in-out duration-75">
                            Small full-stack POS with MERN, (onrender loads data slowly)
                        </p>
                    </h1>
                </a>
            </div>
            <div class=" square-container relative ease-in-out duration-75 w-1/2 aspect-square">
                <a href="https://alammar-marine.vercel.app" target="blank" class=" mix-blend-difference">
                    <img src="/static/ams.png"
                        class="absolute object-cover w-full h-full square-img opacity-75 hover:opacity-0 duration-75" />
                    <h1
                        class="text-white hover:bg-black flex flex-col justify-center items-center h-full text-[calc(1.5vw+1.5vh)] font-medium z-20 relative">
                        AMS
                        <p
                            class="text-white text-[12px] md:text-[16px] text-center  font-light -mb-10 opacity-0  ease-in-out duration-75">
                            Marine company catalog
                        </p>
                    </h1>
                </a>
            </div>
        </div>
        <script>
            const mario = document.getElementById("mario");
            const cube = document.getElementById("cube");
            mario.addEventListener("click", function () {
                mario.style.top = '-37px';
                mario.src = '/static/mario2.png';
                cube.style.transform = 'scale(1.2)';
                console.log("Before setTimeout");
                setTimeout(() => {
                    console.log("Inside setTimeout callback");
                    mario.style.top = '0px';
                    mario.src = '/static/mario1.png';
                    cube.style.transform = 'scale(1)';
                }, 150);
            });
        </script>
</body>

</html>